{% extends '::base.html.twig' %}

{% block action %}
    <form method="post" action="{{ path('app_user_import') }}">
        <input type="file" name="import">
        <button>Submit</button>
    </form>
{% endblock %}
