{% extends 'local_base.html.twig' %}

{% block action %}
    <form method="post" action="{{ path('app_user_import') }}" enctype="multipart/form-data">
        <input type="file" name="import">
        <button>Submit</button>
    </form>
{% endblock %}
