/vendor/
/composer.phar
/composer.lock

# ide directories
/.idea
/nbproject

# tmp etc
.DS_Store
Thumbs.dbTests/Fixtures/TestProject/web/bundles
Tests/Fixtures/TestProject/cache
Tests/Fixtures/TestProject/logs
Tests/Fixtures/TestProject/ProjectBundle/DataFixtures
Tests/Fixtures/TestProject/ProjectBundle/Entity