/vendor/
/composer
/phpunit.xml
/.phpunit.result.cache
/.php-cs-fixer.cache
/phpda.svg

# ide directories
/.idea
/nbproject

# tmp etc
.DS_Store
Thumbs.db

Tests/Fixtures/TestProject/web/bundles
Tests/Fixtures/TestProject/var
Tests/Fixtures/TestProject/ProjectBundle/DataFixtures
Tests/Fixtures/TestProject/ProjectBundle/Entity
