<html>
<body>

{% for type, messages in app.session.flashbag.all %}
    {% for message in messages %}
        <p><strong>{{ type }}</strong> {{ message }}</p>
    {% endfor %}
{% endfor %}

{% block action %}
{% endblock %}

</body>
</html>