<html>
<body>

    <div id="messages">
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <p><strong>{{ type }}</strong> {{ message }}</p>
            {% endfor %}
        {% endfor %}
    </div>

    <div id="action">
        {% block action %}
        {% endblock %}
    </div>
</body>
</html>
